<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>quietanze.web</display-name>
	<servlet>
		<servlet-name>ListaFileQuietanzeServlet</servlet-name>
		<display-name>ListaFileQuietanzeServlet</display-name>
		<description></description>
		<servlet-class>com.fideuram.stampe.quietanze.ListaFileQuietanzeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuietanzaServlet</servlet-name>
		<display-name>QuietanzaServlet</display-name>
		<description></description>
		<servlet-class>com.fideuram.stampe.quietanze.QuietanzaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArchiviazioneServlet</servlet-name>
		<display-name>ArchiviazioneServlet</display-name>
		<description></description>
		<servlet-class>com.fideuram.stampe.quietanze.ArchiviazioneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListaFileQuietanzeServlet</servlet-name>
		<url-pattern>/ListaFileQuietanzeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuietanzaServlet</servlet-name>
		<url-pattern>/QuietanzaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiviazioneServlet</servlet-name>
		<url-pattern>/ArchiviazioneServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
